body {
    background-color: #CCC;
}

.content {
    background-color:white;
    padding: 15px;
}

.btn {
    background-color:rgb(73, 73, 73);
    margin-left: 25%;
    width: 100px;
}

.btn-admin {
    background-color:rgb(73, 73, 73);
    margin-left: 80%;
    margin-top: 10px;
}

.btn-danger {
    background-color:rgb(73, 73, 73);
}

.main-container {
    margin-top: 30px;
}

.admin-mode {
    display: none;
}

ul {
    list-style-type: none;
}

.form-row {
    display: none;
}

