.content {
    background-color: #CCC;
}

.btn {
    background-color:rgb(73, 73, 73);
    margin-left: 25%;
    width: 100px;
}

.btn-admin {
    background-color:rgb(73, 73, 73);
    margin-left: 80%;
    margin-top: 10px;
}

.btn-danger {
    background-color:rgb(73, 73, 73);
}

